@charset "utf-8";


body, html 
{
	text-align:left;	
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:90%;
	margin:0;
	padding:0;
}

#page 
{
	margin:0 auto;
}

/*
============================================ OBSAH STRÁNEK ==========================================================================================================
 
 01 HLAVIČKA
 02 OBSAH
 03 PATICKA
 04 MESSAGES

	
=====================================================================================================================================================================
*/


/*-------------------------------------------------------- 01 HLAVIČKA ---------------------------------------------------------------------------------------------*/
#header 
{
	text-align:left;
	padding:40px 0;
	background:#fff url(bg_paticka.png) repeat-x bottom left;	
	float:left;
	width:100%;
}

/*----------------- odkazy --------------*/
#header a:link
{
	text-decoration: underline;
	color:#3333cc;
	font-weight:normal;
	font-size:100%;
}

#header  a:visited 
{
	color:#3333cc;
}
				
#header a:hover 
{
	color:#3333cc;
}

/*----------------- logo ----------------*/

h1 
{
	position: relative; 
	width:220px; 
	height:43px; 
	margin:0px 10px; 
	padding:0px;overflow:hidden; 
	font-size:small;
	float:left;
	font-size:180%;
}

h1 span 
{
	position:absolute; 
	top:0px; 
	left:0px; 
	width:220px; 
	height:43px; 
	background:url(logo.png) no-repeat; 
	cursor:pointer; 
	visibility:visible;
	z-index:1;
}

#logo img
{
	border:0;
	margin:30px 10px;
}		

/*----------------- pravy odkaz ----------*/

#odkaz_seznam
{
	float:right;
	color:#E3E3E3;
	text-align:right;
	margin:0px 10px;
}	

	

/*-------------------------------------------------------- 02 OBSAH ---------------------------------------------------------------------------------------------*/


#content_chyby
{
	clear:both;
	text-align:left;
	padding:40px 20px;	
}	




h2
{
	font-size:150%;
	margin:0;
	padding:0;
}	


/*----------------- odkazy ----------*/
a:link
{
	text-decoration: underline;
	color:#3333cc;
	font-weight:normal;
	font-size:100%;
}
a:visited 
{
	color:#3333cc;
}
				
a:hover 
{
	color:#cc0000;
}



h3
{
	font-size:100%;
	color:#fff;
	background:url(oddelovac.gif) no-repeat top left;
	padding:7px 15px;
	margin:0;
}
				

.chybova_hlaska
{
	color:#FF0000;
	font-size:140%;
	border:1px solid #FF0000;
	width:100%;
}

.chybova_hlaska p
{
	margin-left:25px;
}		

/*-------------------------------------------------------- 03 PATICKA ---------------------------------------------------------------------------------------------*/
#footer 
{
	clear:both;
	text-align:left;
	color:#666;
	padding:30px 20px;
	background:#fff url(bg_paticka.png) repeat-x top left;
}

#footer a:link
{
	text-decoration: underline;
	color:#6666cc;
	font-weight:normal;
	font-size:100%;
}

#footer  a:visited 
{
	color:#6666cc;
}
				
#footer a:hover 
{
	color:#6666cc;
}

#footer_vnitrek
{
	width:775px;
	text-align:left;
	margin:0 auto;
}	


/*-------------------------------------------------------- 04 MESSAGES ---------------------------------------------------------------------------------------------*/	
.errorMessage {
	border: 1px solid red;
	color: red;
	padding: 3px;
}

.okMessage {
	border: 1px solid green;
	color: green;
	padding: 3px;
}

.toolTip {
	background-color: infobackground;
	width: 150px;
	border: 1px dotted blue;
	height: auto;
	display: none;
	padding: 4px;
}

